* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color:white;
}

.grey{
    color:#b3b3b3;

}


.navbar{
    position: fixed;
    margin-top: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 27px;
}

.home{
    width: 24px;
    border-radius: 47px;
    background-color: #1f1f1f;
    padding: 13px;
}

.search{
    border-radius: 24px;
    padding: 12px;
    background-color: #1f1f1f;

    
}

.search input{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-size: medium;
    width: 404px;
    padding: 0px 8px;
}

.search img{
    width: 23px;
}

.middle{
    gap: 9px;
    align-items: center;
    margin-left: 236px;
}

.button1 button{
    font-size: medium;
    padding: 13px 31px;
    border-radius: 35px;
    color: #b3b3b3;
    background-color: black;
    font-weight: 600;
border: none;
}

.button2 button{
    font-size: medium;
    padding: 13px 31px;
    border-radius: 35px;
    background-color: white;
    font-weight: 600;

}
.portion{
    margin: 6px;
}

.left {
    background-color: #121212;
    width: 21%;
    position: fixed;
    margin: 0px 8px 0px 0px;
    border-radius: 10px;
    padding: 14px;
    height: 100vh;

}

.library {
    justify-content: space-between;
    margin: 11px;
    padding: 0px 0px 11px 0px;
}


.sub-left img {
    width: 24px;
}

.sub-left button{
    background-color: transparent;
    border: none;
    gap: 9px;
    font-weight: 700;
    font-size: medium;

}


.sub-right img {
    width: 16px;
}

.box1,.box2{
    padding: 13px;
    background-color: #1f1f1f;
    margin: 19px 0px;
    border-radius: 9px;
}

.button button{
    margin: 22px 0px 0px 0px;
    padding: 7px 12px;
    border-radius: 22px;
    font-size: medium;
    background-color: white;
    font-weight: 600;
    border: none;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.right {
    width: 79%;
    background-color: #121212;
    border-radius: 8px;
    position: absolute;
    left: 442px;
}

.nav {
    justify-content: space-between;
}
.nav p{
    font-weight: 700;
    justify-content: space-between;
}

.section-1{
    padding: 28px 25px;
}

.section{
    padding: 28px 25px;
}


.artists{
    justify-content: space-between;
    width: 100%;
}

.card{
    flex-direction: column;
    padding: 20px 0px;;
    gap: 6px;
}

.card img{
    width: 215px;
    border-radius: 118px;

}

.section .card img{
    border-radius: 7px;
}



.card :nth-child(3){
    font-size: small;
}
